@import "config";

.buttons {
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding: 2*$gutter 0;
}

.button--fyrirlestrar {
  width: fit-content;
  padding: $gutter/2;
  margin: 0 $gutter;
  background-color: $ljosGrar;
  border-radius: 10px;
  box-shadow: 2px 1px $dokkGrar;
  font-size: 24px;
  font-family: $font-title;
  font-weight: 700;
}
